html {
    background-color: rgb(91, 99, 99);
}

body {
    background: #444444 !important;
    border: 2px solid black;
    border-radius: 25px;
    padding: 20px;
    width: 50%;
    margin-left: 25% !important;
    margin-top: 1% !important;
    text-align: center;
}

h1 {
    text-decoration: underline;
}

a {
    color: black !important;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.carousel-inner > .item > img {
    width: 100%;
    height: auto;
    max-height: 550px;
  }

  .carousel {
    margin: none;
    width: 77.5%
}